nav {
	font-family: oswald;
	font-weight: 300;
}

.main-navigation{
	display: inline-block;
}


.main-navigation li {
	display: inline-block;

}
.main-navigation ul {
	display: inline-block;
	vertical-align: super;

}

.secondary-navigation {
	float: right;
	margin-top:18px;


}

.main-navigation a {
	text-decoration: none;
	position: relative;
}

.right-nav{
	float:right;
}

.external-link {
	padding-right: 25px; 
}

.external-link:after {
	content: url('../img/flechita.png');
}

.main-navigation li:hover .external-link:after {
	content: url('../img/flechita-azul.png');
} 

.main-header {
	text-align: center;
}

.main-header img {
	width: 50%;
	max-width: 400px;
	min-width: 320px;
	display: inline-block;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.banner img {
	width: 100%;
	max-width: none;
}

p {
	font-size: 22px;
	color: #000;
}